.TUIChat-H5 {
  flex: 1;
  position: static;

  .TUIChat-header {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;

    .setting {
      width: 27px;
    }
  }

  .TUIChat-main {
    .TUI-message-list {
      height: auto;
    }
  }

  .TUIChat-footer {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    bottom: 0;
    flex-direction: column-reverse;
    height: auto;
    padding: 14px 23px 23px;
    z-index: 1;

    .func {
      display: flex;
      flex-direction: column;

      &-main {
        display: flex;
        justify-content: space-between;
      }
    }

    .input {
      display: flex;
      flex-wrap: wrap;

      textarea {
        width: auto;
        height: auto;
        padding: 0;
        flex: 1;
        background: #F4F5F9;
        border-radius: 9.4px;
        padding: 7px 18px;
        font-size: 16px;
        line-height: 18px;
        height: 36px;
      }

      .reference-box {
        padding: 0;
      }

      button {
        position: static !important;
        margin-left: 7px;
        word-break: keep-all;
      }

      .memberList {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .5);
        max-height: none;
        display: flex;
        align-items: flex-end;
        z-index: 1;

        &-box {
          position: static;
          flex: 1;
          max-height: 90%;
          border-radius: 12px 12px 0 0;
          padding: 14px 23px;

          &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;

            h1 {
              font-family: PingFangSC-Medium;
              font-weight: 500;
              font-size: 20px;
              color: #000000;
              letter-spacing: 0;
              line-height: 28px;
            }

            .close {
              font-family: PingFangSC-Regular;
              font-weight: 400;
              font-size: 18px;
              color: #3370FF;
              letter-spacing: 0;
              line-height: 27px;
            }
          }

          li {
            padding: 8px 0;

            img {
              width: 30px;
              height: 30px;
              border-radius: 6.4px;
              padding: 0;
            }

            span {
              font-size: 16px;
              padding-left: 12px;
            }
          }

          &-header {
            span {
              &:last-child {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .manage {
    position: fixed;
    height: 100%;
    top: 0;
  }

  .mask {
    position: fixed;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      background: white;
      border-radius: 4px
    }

    header {
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      text-align: center;
      padding: 20px 0;
    }

    footer {
      display: flex;
      width: 100%;
      justify-content: space-around;
      border-top: 1px solid #DDDDDD;
      height: 40px;
      align-items: center;

      p {
        font-family: PingFangSC-Regular;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
      }

      i {
        height: 40px;
        width: 1px;
        background: #DDDDDD;
      }
    }
  }
}