.audio-message {
	padding: 10rpx 18rpx;
	border-radius: 2px 10px 10px 10px;
	border: 1px solid #D9D9D9;
	display: flex;
}

.audio-icon {
	width: 28px;
	height: 28px;
}

.my-audio {
	border-radius: 10px 2px 10px 10px;
	background: rgba(0, 110, 255, 0.10);
	border: 1px solid rgba(0, 110, 255, 0.30);
}

.audio {
	/*border-radius: 2px 10px 10px 10px;*/
	height: 60rpx;
	font-family: PingFangSC-Medium;
	font-size: 28rpx;
	color: #000000;
	line-height: 28rpx;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
