<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuichatbotplugin.classicui.page.ChatBotListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tuikit.tuichatbotplugin.classicui.page.ChatBotProfileActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>