# OS X Files
.DS_Store
**/.DS_Store


# Gradle files
*/.gradle/
*.gradle/
# IDEA Files
local.properties
/.codecc/
/build.yml
*.iml
*.idea/
build/
/captures
.externalNativeBuild
.cxx

/tuicallkit/.idea/
/tuicallkit/build/
tuicore