<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>serious</string>
	<key>name</key>
	<string>严肃</string>
	<key>name_en</key>
	<string>Business</string>
	<key>convert_voice_text_view_bg_color</key>
	<string>#F2F7FF</string>
	<key>convert_voice_text_view_text_color</key>
	<string>#000000</string>
	<key>convert_voice_text_view_tips_color</key>
	<string>#000000</string>
	<key>convert_voice_text_view_icon_loading_img</key>
	<string>convert_voice_text_loading.png</string>
	<key>convert_voice_text_view_pop_menu_copy_img</key>
	<string>icon_copy.png</string>
	<key>convert_voice_text_view_pop_menu_hide_img</key>
	<string>icon_hide.png</string>
	<key>convert_voice_text_view_pop_menu_forward_img</key>
	<string>icon_forward.png</string>
</dict>
</plist>
