<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>dark</string>
	<key>name</key>
	<string>黑夜</string>
	<key>name_en</key>
	<string>Dark</string>
	<key>primary_color</key>
	<string>#FFFFFF</string>
	<key>primary_bg_color</key>
	<string>#F2F3F5</string>
	<key>primary_theme_color</key>
	<string>#2170B1</string>
	<key>common_switch_on_color</key>
	<string>#2170B1</string>
	<key>succ_tips_color</key>
	<string>#26CB3E</string>
	<key>error_tips_color</key>
	<string>#FF584C</string>
	<key>bubble_bg_color</key>
	<string>#DCEAFD</string>
	<key>head_bg_gradient_start_color</key>
	<string>#111111</string>
	<key>head_bg_gradient_end_color</key>
	<string>#13151B</string>
	<key>outline_color</key>
	<string>#DDDDDD</string>
	<key>separator_color</key>
	<string>#39393B</string>
	<key>controller_bg_color</key>
	<string>#111111</string>
	<key>form_title_color</key>
	<string>#CCCCCC</string>
	<key>form_subtitle_color</key>
	<string>#666666</string>
	<key>form_desc_color</key>
	<string>#5E5E5E</string>
	<key>form_bg_color</key>
	<string>#181818</string>
	<key>form_green_button_text_color</key>
	<string>#FFFFFF</string>
	<key>form_green_button_bg_color</key>
	<string>#232323</string>
	<key>form_green_button_highlight_bg_color</key>
	<string>#2F2F2F</string>
	<key>form_white_button_text_color</key>
	<string>#D9D9D9</string>
	<key>form_white_button_bg_color</key>
	<string>#1A1A1A</string>
	<key>form_redtext_button_text_color</key>
	<string>#FF0000</string>
	<key>form_redtext_button_bg_color</key>
	<string>#1A1A1A</string>
	<key>form_blue_button_text_color</key>
	<string>#B4B4B4</string>
	<key>form_blue_button_bg_color</key>
	<string>#1A1A1A</string>
	<key>form_blue_button_highlight_bg_color</key>
	<string>#2F2F2F</string>
	<key>form_key_text_color</key>
	<string>#FFFFFFBB</string>
	<key>form_value_text_color</key>
	<string>#FFFFFFCC</string>
	<key>nav_title_text_color</key>
	<string>#F4F5F9</string>
	<key>nav_back_img</key>
	<string>nav_back.png</string>
	<key>default_group_head_public_img</key>
	<string>default_group_head_public.png</string>
	<key>default_group_head_meeting_img</key>
	<string>default_group_head_meeting.png</string>
	<key>default_group_head_avchatroom_img</key>
	<string>default_group_head_avchatroom.png</string>
	<key>default_group_head_community_img</key>
	<string>default_group_head_community.png</string>
	<key>default_group_head_img</key>
	<string>default_group_head.png</string>
	<key>default_c2c_head_img</key>
	<string>default_c2c_head.png</string>
	<key>search_textfield_bg_color</key>
	<string>#292929</string>
	<key>service_more_video_call_img</key>
	<string>service_more_video_call.png</string>
	<key>service_more_voice_call_img</key>
	<string>service_more_voice_call.png</string>
	<key>icon_online_status_img</key>
	<string>icon_online_status.png</string>
	<key>icon_offline_status_img</key>
	<string>icon_offline_status.png</string>
</dict>
</plist>
