<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>light</string>
	<key>name</key>
	<string>轻量</string>
	<key>name_en</key>
	<string>Light</string>
	<key>customer_service_evaluation_star_selected_img</key>
	<string>star_selected.png</string>
	<key>customer_service_evaluation_star_unselected_img</key>
	<string>star_unselected.png</string>
	<key>customer_service_evaluation_number_selected_img</key>
	<string>number_selected.png</string>
	<key>customer_service_evaluation_number_unselected_img</key>
	<string>number_unselected.png</string>
	<key>customer_service_branch_dotted_line_img</key>
	<string>dotted_line.png</string>
	<key>customer_service_branch_arrow_img</key>
	<string>arrow.png</string>
	<key>customer_service_collection_submit_img</key>
	<string>submit.png</string>
	<key>customer_service_contact_menu_icon_img</key>
	<string>contact_customer_service.png</string>
	<key>customer_service_card_pic_placeholder_img</key>
	<string>card_pic_placeholder.png</string>
	<key>bot_branch_cell_arrow_img</key>
	<string>branch_cell_arrow.png</string>
	<key>bot_branch_cell_dotted_line_img</key>
	<string>branch_cell_dotted_line.png</string>
	<key>bot_branch_cell_head_bk_img</key>
	<string>branch_cell_head_bk.png</string>
	<key>bot_branch_cell_refresh_img</key>
	<string>branch_cell_refresh.png</string>
	<key>customer_service_card_item_desc_text_color</key>
	<string>#999999</string>
	<key>customer_service_card_input_bg_color</key>
	<string>#F9F9F9</string>
	<key>customer_service_card_input_text_color</key>
	<string>#000000</string>
	<key>customer_service_card_bg_color</key>
	<string>#000000</string>
	<key>customer_service_card_backview_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_card_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_card_desc_text_color</key>
	<string>#FF6C2E</string>
	<key>customer_service_card_submit_text_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_card_submit_bg_color</key>
	<string>#006EFF</string>
	<key>customer_service_card_close_text_color</key>
	<string>#3370FF</string>
	<key>customer_service_branch_content_text_color</key>
	<string>#368DFF</string>
	<key>customer_service_branch_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_collection_content_text_color</key>
	<string>#368DFF</string>
	<key>customer_service_collection_header_text_color</key>
	<string>#000000</string>
	<key>customer_service_collection_border_bg_color</key>
	<string>#DDDDDD</string>
	<key>customer_service_collection_textfield_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_collection_textfield_text_color</key>
	<string>#000000</string>
	<key>customer_service_evaluation_bg_color</key>
	<string>#FBFBFB</string>
	<key>customer_service_evaluation_top_text_color</key>
	<string>#9A9A9A</string>
	<key>customer_service_evaluation_header_text_color</key>
	<string>#1C1C1C</string>
	<key>customer_service_evaluation_button_text_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_evaluation_button_bg_color</key>
	<string>#2F80ED</string>
	<key>customer_service_evaluation_bottom_text_color</key>
	<string>#9A9A9A</string>
	<key>customer_service_evaluation_button_selected_bg_color</key>
	<string>#FFFFFF</string>
	<key>customer_service_evaluation_button_unselected_bg_color</key>
	<string>#006EFF</string>
	<key>customer_service_menu_button_border_color</key>
	<string>#DDDDDD</string>
	<key>customer_service_menu_button_text_color</key>
	<string>#999999</string>
	<key>customer_service_menu_button_bg_color</key>
	<string>#F6F6F6</string>
	<key>customer_service_phrase_bg_color</key>
	<string>#000000</string>
	<key>customer_service_phrase_text_color</key>
	<string>#000000</string>
	<key>customer_service_phrase_backview_bg_color</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_dot_color</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_text_color_1</key>
	<string>#FFFFFF</string>
	<key>bot_branch_cell_header_text_color_2</key>
	<string>#000000</string>
	<key>bot_branch_cell_refresh_btn_color</key>
	<string>#006EFF</string>
	<key>bot_branch_cell_number_text_color</key>
	<string>#006EFF</string>
	<key>bot_branch_cell_content_text_color</key>
	<string>#333333</string>
</dict>
</plist>
