<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tuikit.tuicommunity">

    <application>
        <activity
            android:name=".ui.page.TopicInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false" />
        <activity
            android:name=".ui.page.CommunitySettingsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.page.CreateTopicActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.page.CommunityMemberActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.page.JoinCommunityActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.page.CreateCommunityActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />

        <provider
            android:name=".TUICommunityService"
            android:authorities="${applicationId}.TUICommunity.Init"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>