<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Smile]</string>
	<key>face_file</key>
	<string>emoji_0</string>
	<key>face_id</key>
	<string>001</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Expect]</string>
	<key>face_file</key>
	<string>emoji_1</string>
	<key>face_id</key>
	<string>002</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Blink]</string>
	<key>face_file</key>
	<string>emoji_2</string>
	<key>face_id</key>
	<string>003</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Guffaw]</string>
	<key>face_file</key>
	<string>emoji_3</string>
	<key>face_id</key>
	<string>004</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_KindSmile]</string>
	<key>face_file</key>
	<string>emoji_4</string>
	<key>face_id</key>
	<string>005</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Haha]</string>
	<key>face_file</key>
	<string>emoji_5</string>
	<key>face_id</key>
	<string>006</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Cheerful]</string>
	<key>face_file</key>
	<string>emoji_6</string>
	<key>face_id</key>
	<string>007</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Speechless]</string>
	<key>face_file</key>
	<string>emoji_7</string>
	<key>face_id</key>
	<string>008</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Amazed]</string>
	<key>face_file</key>
	<string>emoji_8</string>
	<key>face_id</key>
	<string>009</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Sorrow]</string>
	<key>face_file</key>
	<string>emoji_9</string>
	<key>face_id</key>
	<string>010</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Complacent]</string>
	<key>face_file</key>
	<string>emoji_10</string>
	<key>face_id</key>
	<string>011</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Silly]</string>
	<key>face_file</key>
	<string>emoji_11</string>
	<key>face_id</key>
	<string>012</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Lustful]</string>
	<key>face_file</key>
	<string>emoji_12</string>
	<key>face_id</key>
	<string>013</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Giggle]</string>
	<key>face_file</key>
	<string>emoji_13</string>
	<key>face_id</key>
	<string>014</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Kiss]</string>
	<key>face_file</key>
	<string>emoji_14</string>
	<key>face_id</key>
	<string>015</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Wail]</string>
	<key>face_file</key>
	<string>emoji_15</string>
	<key>face_id</key>
	<string>016</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_TearsLaugh]</string>
	<key>face_file</key>
	<string>emoji_16</string>
	<key>face_id</key>
	<string>017</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Trapped]</string>
	<key>face_file</key>
	<string>emoji_17</string>
	<key>face_id</key>
	<string>018</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Mask]</string>
	<key>face_file</key>
	<string>emoji_18</string>
	<key>face_id</key>
	<string>019</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Fear]</string>
	<key>face_file</key>
	<string>emoji_19</string>
	<key>face_id</key>
	<string>020</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_BareTeeth]</string>
	<key>face_file</key>
	<string>emoji_20</string>
	<key>face_id</key>
	<string>021</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_FlareUp]</string>
	<key>face_file</key>
	<string>emoji_21</string>
	<key>face_id</key>
	<string>022</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Yawn]</string>
	<key>face_file</key>
	<string>emoji_22</string>
	<key>face_id</key>
	<string>023</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Tact]</string>
	<key>face_file</key>
	<string>emoji_23</string>
	<key>face_id</key>
	<string>024</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Stareyes]</string>
	<key>face_file</key>
	<string>emoji_24</string>
	<key>face_id</key>
	<string>025</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_ShutUp]</string>
	<key>face_file</key>
	<string>emoji_25</string>
	<key>face_id</key>
	<string>026</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Sigh]</string>
	<key>face_file</key>
	<string>emoji_26</string>
	<key>face_id</key>
	<string>027</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Hehe]</string>
	<key>face_file</key>
	<string>emoji_27</string>
	<key>face_id</key>
	<string>028</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Silent]</string>
	<key>face_file</key>
	<string>emoji_28</string>
	<key>face_id</key>
	<string>029</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Surprised]</string>
	<key>face_file</key>
	<string>emoji_29</string>
	<key>face_id</key>
	<string>030</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Askance]</string>
	<key>face_file</key>
	<string>emoji_30</string>
	<key>face_id</key>
	<string>031</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Ok]</string>
	<key>face_file</key>
	<string>emoji_31</string>
	<key>face_id</key>
	<string>032</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Shit]</string>
	<key>face_file</key>
	<string>emoji_32</string>
	<key>face_id</key>
	<string>033</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Monster]</string>
	<key>face_file</key>
	<string>emoji_33</string>
	<key>face_id</key>
	<string>034</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Daemon]</string>
	<key>face_file</key>
	<string>emoji_34</string>
	<key>face_id</key>
	<string>035</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Rage]</string>
	<key>face_file</key>
	<string>emoji_35</string>
	<key>face_id</key>
	<string>036</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Fool]</string>
	<key>face_file</key>
	<string>emoji_36</string>
	<key>face_id</key>
	<string>037</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Pig]</string>
	<key>face_file</key>
	<string>emoji_37</string>
	<key>face_id</key>
	<string>038</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Cow]</string>
	<key>face_file</key>
	<string>emoji_38</string>
	<key>face_id</key>
	<string>039</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Ai]</string>
	<key>face_file</key>
	<string>emoji_39</string>
	<key>face_id</key>
	<string>040</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Skull]</string>
	<key>face_file</key>
	<string>emoji_40</string>
	<key>face_id</key>
	<string>041</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Bombs]</string>
	<key>face_file</key>
	<string>emoji_41</string>
	<key>face_id</key>
	<string>042</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Coffee]</string>
	<key>face_file</key>
	<string>emoji_42</string>
	<key>face_id</key>
	<string>043</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Cake]</string>
	<key>face_file</key>
	<string>emoji_43</string>
	<key>face_id</key>
	<string>044</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Beer]</string>
	<key>face_file</key>
	<string>emoji_44</string>
	<key>face_id</key>
	<string>045</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Flower]</string>
	<key>face_file</key>
	<string>emoji_45</string>
	<key>face_id</key>
	<string>046</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Watermelon]</string>
	<key>face_file</key>
	<string>emoji_46</string>
	<key>face_id</key>
	<string>047</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Rich]</string>
	<key>face_file</key>
	<string>emoji_47</string>
	<key>face_id</key>
	<string>048</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Heart]</string>
	<key>face_file</key>
	<string>emoji_48</string>
	<key>face_id</key>
	<string>049</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Moon]</string>
	<key>face_file</key>
	<string>emoji_49</string>
	<key>face_id</key>
	<string>050</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Sun]</string>
	<key>face_file</key>
	<string>emoji_50</string>
	<key>face_id</key>
	<string>051</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Star]</string>
	<key>face_file</key>
	<string>emoji_51</string>
	<key>face_id</key>
	<string>052</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_RedPacket]</string>
	<key>face_file</key>
	<string>emoji_52</string>
	<key>face_id</key>
	<string>053</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Celebrate]</string>
	<key>face_file</key>
	<string>emoji_53</string>
	<key>face_id</key>
	<string>054</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Bless]</string>
	<key>face_file</key>
	<string>emoji_54</string>
	<key>face_id</key>
	<string>055</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Fortune]</string>
	<key>face_file</key>
	<string>emoji_55</string>
	<key>face_id</key>
	<string>056</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Convinced]</string>
	<key>face_file</key>
	<string>emoji_56</string>
	<key>face_id</key>
	<string>057</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Prohibit]</string>
	<key>face_file</key>
	<string>emoji_57</string>
	<key>face_id</key>
	<string>058</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_666]</string>
	<key>face_file</key>
	<string>emoji_58</string>
	<key>face_id</key>
	<string>059</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_857]</string>
	<key>face_file</key>
	<string>emoji_59</string>
	<key>face_id</key>
	<string>060</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Knife]</string>
	<key>face_file</key>
	<string>emoji_60</string>
	<key>face_id</key>
	<string>061</string>
</dict>
<dict>
	<key>face_name</key>
	<string>[TUIEmoji_Like]</string>
	<key>face_file</key>
	<string>emoji_61</string>
	<key>face_id</key>
	<string>062</string>
</dict>
</array>
</plist>
