<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tuikit.tuicallkit">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name="com.tencent.qcloud.tuikit.tuicallkit.view.CallKitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="com.tencent.qcloud.tuikit.tuicallkit.internal.ServiceInitializer"
            android:authorities="${applicationId}.ServiceInitializer"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.tencent.qcloud.tuikit.tuicallkit.extensions.TUICallService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.tencent.qcloud.tuikit.tuicallkit.view.component.floatview.FloatWindowService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".extensions.inviteuser.SelectGroupMemberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>