<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".view.CallMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.component.inviteuser.SelectGroupMemberActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="com.tencent.qcloud.tuikit.tuicallkit.manager.bridge.Initializer"
            android:authorities="${applicationId}.Initializer"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".view.component.incomingbanner.IncomingCallReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="reject_call_action" />
            </intent-filter>
        </receiver>
    </application>
</manifest>