<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>dark</string>
	<key>name</key>
	<string>黑夜</string>
	<key>name_en</key>
	<string>Dark</string>
	<key>chat_controller_bg_color</key>
	<string>#13151B</string>
	<key>chat_input_controller_bg_color</key>
	<string>#222632</string>
	<key>chat_input_bg_color</key>
	<string>#222632</string>
	<key>chat_input_text_color</key>
	<string>#FFFFFF2C</string>
	<key>chat_face_page_control_current_color</key>
	<string>#8C8C8C</string>
	<key>chat_face_page_control_color</key>
	<string>#373737</string>
	<key>chat_face_menu_select_color</key>
	<string>#292901</string>
	<key>chat_more_camera_img</key>
	<string>chat_more_camera.png</string>
	<key>chat_more_file_img</key>
	<string>chat_more_file.png</string>
	<key>chat_more_link_img</key>
	<string>chat_more_link.png</string>
	<key>chat_more_picture_img</key>
	<string>chat_more_picture.png</string>
	<key>chat_more_video_call_img</key>
	<string>chat_more_video_call.png</string>
	<key>chat_more_video_img</key>
	<string>chat_more_video.png</string>
	<key>chat_more_voice_call_img</key>
	<string>chat_more_voice_call.png</string>
	<key>chat_bubble_send_img</key>
	<string>chat_bubble_send.png</string>
	<key>chat_bubble_send_alpha20_img</key>
	<string>chat_bubble_send_alpha20.png</string>
	<key>chat_bubble_send_alpha50_img</key>
	<string>chat_bubble_send_alpha50.png</string>
	<key>chat_bubble_receive_img</key>
	<string>chat_bubble_receive.png</string>
	<key>chat_bubble_receive_alpha20_img</key>
	<string>chat_bubble_receive_alpha20.png</string>
	<key>chat_bubble_receive_alpha50_img</key>
	<string>chat_bubble_receive_alpha50.png</string>
	<key>chat_text_message_send_text_color</key>
	<string>#FFFFFF2C</string>
	<key>chat_text_message_receive_text_color</key>
	<string>#FFFFFF2C</string>
	<key>chat_file_message_bg_color</key>
	<string>#232323</string>
	<key>chat_file_message_title_color</key>
	<string>#FFFFFF2C</string>
	<key>chat_file_message_subtitle_color</key>
	<string>#FFFFFF66</string>
	<key>chat_link_message_bg_color</key>
	<string>#232323</string>
	<key>chat_link_message_title_color</key>
	<string>#FFFFFF2C</string>
	<key>chat_link_message_subtitle_color</key>
	<string>#2B8BD5</string>
	<key>chat_merge_message_bg_color</key>
	<string>#232323</string>
	<key>chat_merge_message_title_color</key>
	<string>#D9D9D9</string>
	<key>chat_reply_message_content_text_color</key>
	<string>#000000</string>
	<key>chat_reply_message_sender_text_color</key>
	<string>#00000026</string>
	<key>chat_reply_message_content_recv_text_color</key>
	<string>#000000</string>
	<key>chat_voice_message_send_duration_time_color</key>
	<string>#F3F45</string>
	<key>chat_voice_message_recv_duration_time_color</key>
	<string>#F3F45</string>
	<key>chat_voice_message_sender_voice_normal_img</key>
	<string>message_voice_sender_normal.png</string>
	<key>chat_voice_message_receiver_voice_normal_img</key>
	<string>message_voice_receiver_normal.png</string>
</dict>
</plist>
