$base = #111111
$regular = #495060
$secondary = #999999

$border = #dddddd
$border-base = #dbdbdb
$border-light = #e9eaec

$success = #0ac160
$chat = #95ec69

$primary = #006fff
$primary-10 = rgba(0, 111, 255, 0.1) // 10% 透明度
$primary-30 = rgba(0, 111, 255, 0.3) // 30% 透明度
$dark-primary = #0063e5
$light-primary = #98c6fd
$warning = #ffab20
$danger = #fb5250

$light-button = #dbdbdb
$dark-button = #c5c5c5

$background = #ededed
$light-background = #f1f1f1
$dark-background = #c4c4c4

$white = #ffffff
$black = #000000
