<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>light</string>
	<key>name</key>
	<string>轻量</string>
	<key>name_en</key>
	<string>Light</string>
	<key>primary_color</key>
	<string>#FFFFFF</string>
	<key>primary_bg_color</key>
	<string>#F2F3F5</string>
	<key>primary_theme_color</key>
	<string>#147AFF</string>
	<key>common_switch_on_color</key>
	<string>#147AFF</string>
	<key>succ_tips_color</key>
	<string>#26CB3E</string>
	<key>error_tips_color</key>
	<string>#FF584C</string>
	<key>bubble_bg_color</key>
	<string>#DCEAFD</string>
	<key>head_bg_gradient_start_color</key>
	<string>#EBF0F6</string>
	<key>head_bg_gradient_end_color</key>
	<string>#EBF0F6</string>
	<key>outline_color</key>
	<string>#DDDDDD</string>
	<key>separator_color</key>
	<string>#E5E5E5</string>
	<key>controller_bg_color</key>
	<string>#F2F3F5</string>
	<key>form_title_color</key>
	<string>#000000</string>
	<key>form_subtitle_color</key>
	<string>#888888</string>
	<key>form_desc_color</key>
	<string>#BBBBBB</string>
	<key>form_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_green_button_text_color</key>
	<string>#FFFFFF</string>
	<key>form_green_button_bg_color</key>
	<string>#1C971F</string>
	<key>form_green_button_highlight_bg_color</key>
	<string>#179A1A</string>
	<key>form_white_button_text_color</key>
	<string>#000000</string>
	<key>form_white_button_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_redtext_button_text_color</key>
	<string>#FF0000</string>
	<key>form_redtext_button_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_blue_button_text_color</key>
	<string>#FFFFFF</string>
	<key>form_blue_button_bg_color</key>
	<string>#1E90FF</string>
	<key>form_blue_button_highlight_bg_color</key>
	<string>#1978D5</string>
	<key>form_key_text_color</key>
	<string>#444444</string>
	<key>form_value_text_color</key>
	<string>#000000</string>
	<key>nav_title_text_color</key>
	<string>#000000</string>
	<key>nav_back_img</key>
	<string>nav_back.png</string>
	<key>default_group_head_public_img</key>
	<string>default_group_head_public.png</string>
	<key>default_group_head_meeting_img</key>
	<string>default_group_head_meeting.png</string>
	<key>default_group_head_avchatroom_img</key>
	<string>default_group_head_avchatroom.png</string>
	<key>default_group_head_community_img</key>
	<string>default_group_head_community.png</string>
	<key>default_group_head_img</key>
	<string>default_group_head.png</string>
	<key>default_c2c_head_img</key>
	<string>default_c2c_head.png</string>
	<key>search_textfield_bg_color</key>
	<string>#FEFEFE</string>
	<key>service_more_video_call_img</key>
	<string>service_more_video_call.png</string>
	<key>service_more_voice_call_img</key>
	<string>service_more_voice_call.png</string>
	<key>icon_online_status_img</key>
	<string>icon_online_status.png</string>
	<key>icon_offline_status_img</key>
	<string>icon_offline_status.png</string>
</dict>
</plist>
