.empty-result {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &__img {
      width: 65px;
      height: 50px;
    }
  
    &__text {
      font-size: 12px;
      margin-top: 30px;
      color: #888888;
      line-height: 18px;
    }
  }