$bg = #4a5a6c

$black = #000000
$white = #ffffff

// font-related
$base = #1c2438
$regular = #495060
// $first = #99a8b4
$first = #a5b5c1
$secondary = #a5b5c1
$font-light = #f7f7f8
$font-dark = #76828c

// border-related
$border-base = #e7e7e7
$border-light = #e9eaec
$border-highlight = #55d48b

// theme-related
$dark-primary = #2b85e4
$primary = #2d8cf0
$light-primary = #5cadff
// $light-primary = #55d48b
$success = #0ac160
$warning = #fa9d3b
$danger = #f35f5f

// background-related
$light-background = #f2f7f7
$background = #404953
$dark-background = #363e47
$deep-background = #303841

$background = #404953
$background-light = #f5f5f5
$background-dark = #363e47
$background-deep-dark = #303841


$height = 80vh
$width = 80vw