# OS X Files
.DS_Store
**/.DS_Store


# Gradle files
*/.gradle/
*.gradle/

# IDEA Files
/tuichatbotplugin/.idea/
/tuichatbotplugin/build/
local.properties
/.codecc/
/build.yml
*.iml
*.idea/
/captures
