<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>dark</string>
	<key>name</key>
	<string>黑夜</string>
	<key>name_en</key>
	<string>Dark</string>
	<key>chat_bot_contact_menu_icon_img</key>
	<string>chat_bot.png</string>
	<key>chat_bot_branch_cell_arrow_img</key>
	<string>branch_cell_arrow.png</string>
	<key>chat_bot_branch_cell_dotted_line_img</key>
	<string>branch_cell_dotted_line.png</string>
	<key>chat_bot_branch_cell_head_bk_img</key>
	<string>branch_cell_head_bk.png</string>
	<key>chat_bot_branch_cell_refresh_img</key>
	<string>branch_cell_refresh.png</string>
	<key>chat_bot_branch_cell_header_dot_color</key>
	<string>#FFFFFF</string>
	<key>chat_bot_branch_cell_header_text_color_1</key>
	<string>#FFFFFF</string>
	<key>chat_bot_branch_cell_header_text_color_2</key>
	<string>#000000</string>
	<key>chat_bot_branch_cell_refresh_btn_color</key>
	<string>#147AFF</string>
	<key>chat_bot_branch_cell_number_text_color</key>
	<string>#147AFF</string>
	<key>chat_bot_branch_cell_content_text_color</key>
	<string>#D9D9D9</string>
</dict>
</plist>
