.userinfo-avatar--panel {
    width: 274px;
    height: auto;
    background-color: #fff;
    z-index: 10000;
    border: 1px solid #d1d1d1;
    
    user-select:none;
    .card-content {
        background: #FFF;
        min-width: 250px;
        border-radius: 4px;
        padding: 12px;
        z-index: 2000;
        color: #606266;
        line-height: 1.4;
        text-align: justify;
        font-size: 14px;
        word-break: break-all;
    
        .main-info {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #F2EFEF;
            padding-bottom: 15px;
            justify-content: space-between;
            .circle-name {
                color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #5cadff;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .info-item{
            display: flex;
        }
        .nickname {
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 15px;
        }
    
        .info-bar {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
    
            .info-key {
                color: #9E9E9E;
                line-height: 40px;
            }
    
            .info-val {
                color: #000000;
                margin-left: 20px;
                flex: 1;
                line-height: 40px;
                text-align: right;
            }
        }
    }
}