.friend-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--title {
    height: 36px;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: inline-block;
      height: 36px;
      width: 36px;
      background-image: url("../../../assets/icon/buddy-list.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
    }
  }

  &--content {
    flex: 1;

    &__item {
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: rgba(232, 242, 255, 1);
      }
      & .item-left {
        flex: 1;
        display: flex;
        &__info {
          margin-left: 8px;
          display: flex;
          // flex-direction: column;
          align-items: center;

          &__name {
            font-size: 14px;
            font-weight: 400;
            color: #000000;
          }
          &__dep {
            font-size: 12px;
            font-weight: 400;
            color: #999999;
          }
        }
      }

      & .item-right {
        &__btn {
          color: #d0021b;
        }
      }
    }
  }

  &--table {
    & .tea-table__body {
      border: 0;

      overflow-y: overlay !important;
      overflow-x: hidden;
      will-change: inherit !important;

      &:hover {
        &::-webkit-scrollbar {
          width: 8px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
          background-color: #d1d1d1;
        }
      }
      &::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #d1d1d1;
      }
    }

    td {
      border: none;
      padding: 0;
    }
  }
}
