<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.trtccalling">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".ui.base.BaseCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".model.impl.ServiceInitializer"
            android:authorities="${applicationId}.ServiceInitializer"
            android:enabled="true"
            android:exported="false" />

        <!-- 保活Service-->
        <service
            android:name=".ui.service.TUICallService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".ui.floatwindow.FloatWindowService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>