<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tim.uikit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".component.video.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.video.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".component.photoview.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.group.info.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.group.apply.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".modules.group.apply.GroupApplyMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.uikit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>
    </application>

</manifest>
