<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.qq.qcloud.tencent_im_sdk_plugin" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
</manifest>