<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>light</string>
	<key>name</key>
	<string>轻量</string>
	<key>name_en</key>
	<string>Light</string>
	<key>chat_custom_order_message_img</key>
	<string>message_custom_order</string>
	<key>chat_custom_order_message_desc_color</key>
	<string>#999999</string>
	<key>chat_custom_order_message_price_color</key>
	<string>#FF7201</string>
	<key>chat_custom_evaluation_message_img</key>
	<string>message_custom_evaluation.png</string>
	<key>chat_custom_evaluation_message_desc_color</key>
	<string>#000000</string>
	<key>chat_controller_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_input_controller_bg_color</key>
	<string>#EBF0F6</string>
	<key>chat_input_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_input_text_color</key>
	<string>#000000</string>
	<key>chat_face_page_control_current_color</key>
	<string>#7D7D7D</string>
	<key>chat_face_page_control_color</key>
	<string>#DEDEDE</string>
	<key>chat_face_menu_select_color</key>
	<string>#FFFFFF</string>
	<key>chat_more_camera_img</key>
	<string>chat_more_camera.png</string>
	<key>chat_more_file_img</key>
	<string>chat_more_file.png</string>
	<key>chat_more_link_img</key>
	<string>chat_more_link.png</string>
	<key>chat_more_picture_img</key>
	<string>chat_more_picture.png</string>
	<key>chat_more_video_img</key>
	<string>chat_more_video.png</string>
	<key>chat_bubble_send_img</key>
	<string>chat_bubble_send.png</string>
	<key>chat_bubble_send_alpha20_img</key>
	<string>chat_bubble_send_alpha20.png</string>
	<key>chat_bubble_send_alpha50_img</key>
	<string>chat_bubble_send_alpha50.png</string>
	<key>chat_bubble_receive_img</key>
	<string>chat_bubble_receive.png</string>
	<key>chat_bubble_receive_alpha20_img</key>
	<string>chat_bubble_receive_alpha20.png</string>
	<key>chat_bubble_receive_alpha50_img</key>
	<string>chat_bubble_receive_alpha50.png</string>
	<key>chat_text_message_send_text_color</key>
	<string>#000000</string>
	<key>chat_text_message_receive_text_color</key>
	<string>#000000</string>
	<key>chat_file_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_file_message_title_color</key>
	<string>#000000</string>
	<key>chat_file_message_subtitle_color</key>
	<string>#888888</string>
	<key>chat_link_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_link_message_title_color</key>
	<string>#000000</string>
	<key>chat_link_message_subtitle_color</key>
	<string>#147AFF</string>
	<key>chat_merge_message_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_merge_message_title_color</key>
	<string>#000000</string>
	<key>chat_merge_message_content_color</key>
	<string>#d5d5d5</string>
	<key>chat_reply_message_content_text_color</key>
	<string>#000000</string>
	<key>chat_reply_message_quoteView_text_color</key>
	<string>#888888</string>
	<key>chat_reply_message_quoteView_bg_color</key>
	<string>#4444440c</string>
	<key>chat_reply_message_sender_text_color</key>
	<string>#888888</string>
	<key>chat_reply_message_content_recv_text_color</key>
	<string>#000000</string>
	<key>chat_reply_message_quoteView_recv_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_content_text_color</key>
	<string>#000000</string>
	<key>chat_reference_message_quoteView_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_quoteView_bg_color</key>
	<string>#4444440c</string>
	<key>chat_reference_message_sender_text_color</key>
	<string>#888888</string>
	<key>chat_reference_message_content_recv_text_color</key>
	<string>#000000</string>
	<key>chat_reference_message_quoteView_recv_text_color</key>
	<string>#888888</string>
	<key>chat_voice_message_send_duration_time_color</key>
	<string>#000000</string>
	<key>chat_voice_message_recv_duration_time_color</key>
	<string>#000000</string>
	<key>chat_voice_message_sender_voice_normal_img</key>
	<string>message_voice_sender_normal.png</string>
	<key>chat_voice_message_receiver_voice_normal_img</key>
	<string>message_voice_receiver_normal.png</string>
	<key>chat_small_tongue_bg_color</key>
	<string>#FFFFFF</string>
	<key>chat_small_tongue_line_color</key>
	<string>#E5E5E5</string>
	<key>chat_nav_more_menu_img</key>
	<string>chat_nav_more_menu.png</string>
	<key>chat_message_read_status_text_color</key>
	<string>#679CE1</string>
	<key>chat_message_read_status_text_gray_color</key>
	<string>#BBBBBB</string>
	<key>chat_message_read_status_tab_color</key>
	<string>#147AFF</string>
	<key>chat_message_read_status_tab_unselect_color</key>
	<string>#444444</string>
	<key>chat_message_read_name_date_text_color</key>
	<string>#999999</string>
	<key>chat_messageReplyIcon_img</key>
	<string>messageReplyIcon</string>
</dict>
</plist>
