.dialog-h5 {
  height: 100%;
  top: 0;
  align-items: inherit;

  .dialog {
    &-main {
      min-width: 0;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;

      &-content {
        flex: 1;
        padding: 0;
      }

      footer {
        border-top: 1px solid #DDDDDD;

        .btn {
          flex: 1;
          margin: 0;
          background: none;
          border-right: 1px solid #DDDDDD;

          &-default {
            color: #FF584C;
            border: none;
          }
        }
      }
    }
  }
}

.center {
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}