<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application >

        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.ImageSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.SelectionMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tuikit.timcommon.component.activities.ImageSelectMinimalistActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.tencent.qcloud.tuikit.timcommon.util.ActivityResultResolver$ActivityResultProxyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:launchMode="singleTask"
            android:theme="@style/CoreActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        
        <provider
            android:name="com.tencent.qcloud.tuikit.timcommon.util.FileProvider"
            android:authorities="${applicationId}.timcommon.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

    </application>
</manifest>