<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tuikit.tuigroup">

    <application>
        <provider
            android:name=".TUIGroupService"
            android:authorities="${applicationId}.TUIGroup.Init"
            android:enabled="true"
            android:exported="false" />



        <!-- **************** Classic UI Activity Start **************** -->
        <activity android:name=".classicui.page.GroupNoticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".classicui.page.SetGroupManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".classicui.page.GroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".classicui.page.ManageGroupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".classicui.page.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".classicui.page.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".classicui.page.GroupApplyDetailActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <provider
            android:name=".classicui.ClassicUIExtensionObserver"
            android:authorities="${applicationId}.TUIGroup.ClassicUI.Init"
            android:enabled="true"
            android:exported="false" />
        <!-- **************** Classic UI Activity End **************** -->




        <!-- **************** Minimalist UI Activity Start **************** -->
        <activity android:name=".minimalistui.page.GroupNoticeMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".minimalistui.page.GroupMemberMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".minimalistui.page.ManageGroupMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".minimalistui.page.GroupInfoMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".minimalistui.page.GroupApplyManagerMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".minimalistui.page.GroupApplyDetailMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <!-- **************** Minimalist UI Activity End **************** -->

    </application>

</manifest>