<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- **************** Classic UI Activity Start **************** -->
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupNoticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.SetGroupManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.ManageGroupActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.classicui.page.GroupApplyDetailActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- **************** Classic UI Activity End **************** -->




        <!-- **************** Minimalist UI Activity Start **************** -->
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupNoticeMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupMemberMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.ManageGroupMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupInfoMinimalistActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupApplyManagerMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.tencent.qcloud.tuikit.tuigroup.minimalistui.page.GroupApplyDetailMinimalistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <!-- **************** Minimalist UI Activity End **************** -->

    </application>

</manifest>