$base = #1c2438
$regular = #495060
$secondary = #80848f

$border-base = #dddee1
$border-light = #e9eaec

$dark-primary = #2b85e4
$primary = #2d8cf0
$light-primary = #5cadff
$success = #0ac160
$chat = #95ec69
$warning = #fa9d3b
$danger = #ed3f14

$background = #f8f8f9
$dark-background = #e6e6e6
