<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tuikit.tuivoicetotextplugin">

    <application>
        <provider
            android:name=".TUIVoiceToTextService"
            android:authorities="${applicationId}.TUIVoiceToText.Init"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>