<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>dark</string>
	<key>name</key>
	<string>黑夜</string>
	<key>name_en</key>
	<string>Dark</string>
	<key>record_exit_img</key>
	<string></string>
	<key>record_camera_switch_img</key>
	<string></string>
	<key>record_flash_open_img</key>
	<string></string>
	<key>record_flash_close_img</key>
	<string></string>
	<key>record_beautify_img</key>
	<string></string>
	<key>record_aspect_9_16_img</key>
	<string></string>
	<key>record_aspect_3_4_img</key>
	<string></string>
	<key>beautify_effect_compare_img</key>
	<string></string>
	<key>beautify_slider_thumb_img</key>
	<string></string>
	<key>beautify_marker_img</key>
	<string></string>
	<key>editor_scrawl_img</key>
	<string></string>
	<key>editor_paster_img</key>
	<string></string>
	<key>editor_subtitle_img</key>
	<string></string>
	<key>editor_music_img</key>
	<string></string>
	<key>editor_crop_img</key>
	<string></string>
	<key>editor_cancel_img</key>
	<string></string>
	<key>editor_crop_cancel</key>
	<string></string>
	<key>editor_crop_confirm</key>
	<string></string>
	<key>editor_crop_rotation</key>
	<string></string>
	<key>editor_undo_img</key>
	<string></string>
	<key>editor_redo_img</key>
	<string></string>
	<key>checkbox_on_img</key>
	<string></string>
	<key>checkbox_off_img</key>
	<string></string>
	<key>sticker_edit_img</key>
	<string></string>
	<key>sticker_transform_img</key>
	<string></string>
	<key>sticker_delete_img</key>
	<string></string>
	<key>theme_accent_color</key>
	<string>#147AFF</string>
	<key>theme_accent_dark_color</key>
	<string>#006CFF</string>
	<key>record_btn_progress_bg_color</key>
	<string>#FFFFFF99</string>
	<key>record_btn_dot_color</key>
	<string>#FFFFFF</string>
	<key>record_btn_active_progress_bg_color</key>
	<string>#DFDFDF</string>
	<key>record_btn_active_dot_color</key>
	<string>#D9D9D9</string>
	<key>record_func_btn_text_color</key>
	<string>#FFFFFF</string>
	<key>record_popup_view_bg_color</key>
	<string>#333333</string>
	<key>beautify_slider_track_bg_color</key>
	<string>#F4F5F9</string>
	<key>editor_func_btn_normal_color</key>
	<string>#FFFFFF</string>
	<key>editor_func_btn_disabled_color</key>
	<string>#4D4D4D</string>
	<key>editor_func_btn_pressed_color</key>
	<string>#7F7F7F</string>
	<key>editor_draw_panel_bg_color</key>
	<string>#3333337F</string>
	<key>editor_generate_view_bg_color</key>
	<string>#0000007F</string>
	<key>editor_popup_view_bg_color</key>
	<string>#000000BF</string>
	<key>editor_bgm_text_color</key>
	<string>#FFFFFF99</string>
	<key>tabpanel_splitter_color</key>
	<string>#FFFFFF1A</string>
</dict>
</plist>
