{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 'off',
    "quotes": ["error", "single"],
    "semi": ["error","never"],
    "space-before-blocks": "error",
    "space-unary-ops": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
