<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.ConferenceMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:targetApi="n" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.create.CreateConferenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.join.EnterConferenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.schedule.conferencedetails.ScheduledConferenceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.schedule.modifyconference.ModifyConferenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.ScheduleConferenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.schedule.timezone.TimeZoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.RoomMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:targetApi="n" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.conferenceinvitation.InvitationReceivedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.chat.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:theme="@style/TUIRoomActivityTransparent" />

        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.bridge.chat.view.InviteToJoinRoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TUIRoomActivityTransparent" />
        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.bridge.chat.view.InvitedToJoinRoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.bridge.chat.view.Chat2RoomExtensionSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.speechtotext.SpeechToTextActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.contacts.DefaultContactsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <service
            android:name="com.tencent.cloud.tuikit.roomkit.common.utils.KeepAliveService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name="com.tencent.cloud.tuikit.roomkit.view.main.floatwindow.videoplaying.RoomFloatViewService"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.tencent.cloud.tuikit.roomkit.state.ConferenceServiceInitializer"
            android:authorities="${applicationId}.TUIRoom.Init"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>