<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.cloud.tuikit.roomkit">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name=".view.activity.RoomMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".imaccess.view.InviteToJoinRoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TUIRoomActivityTransparent" />
        <activity
            android:name=".imaccess.view.InvitedToJoinRoomActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".imaccess.view.Chat2RoomExtensionSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <service
            android:name=".service.KeepAliveService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="com.tencent.cloud.tuikit.roomkit.view.service.RoomFloatViewService"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".service.RoomServiceInitializer"
            android:authorities="${applicationId}.TUIRoom.Init"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>