<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>dark</string>
	<key>name</key>
	<string>黑夜</string>
	<key>name_en</key>
	<string>Dark</string>
	<key>room_quick_meeting_image</key>
	<string>room_quick_meeting.png</string>
</dict>
</plist>
