<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>lively</string>
	<key>name</key>
	<string>活泼</string>
	<key>name_en</key>
	<string>Lively</string>
	<key>primary_color</key>
	<string>#FFFFFF</string>
	<key>primary_bg_color</key>
	<string>#F2F3F5</string>
	<key>primary_theme_color</key>
	<string>#FF8E82</string>
	<key>common_switch_on_color</key>
	<string>#FF8E82</string>
	<key>succ_tips_color</key>
	<string>#26CB3E</string>
	<key>error_tips_color</key>
	<string>#FF584C</string>
	<key>nodata_tips_color</key>
	<string>#999999</string>
	<key>bubble_bg_color</key>
	<string>#FF9D85</string>
	<key>head_bg_gradient_start_color</key>
	<string>#FF7B7B</string>
	<key>head_bg_gradient_end_color</key>
	<string>#FFA88B</string>
	<key>outline_color</key>
	<string>#DDDDDD</string>
	<key>separator_color</key>
	<string>#E5E5E5</string>
	<key>controller_bg_color</key>
	<string>#F2F3F5</string>
	<key>form_title_color</key>
	<string>#000000</string>
	<key>form_subtitle_color</key>
	<string>#888888</string>
	<key>form_desc_color</key>
	<string>#BBBBBB</string>
	<key>form_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_green_button_text_color</key>
	<string>#FFFFFF</string>
	<key>form_green_button_bg_color</key>
	<string>#1C971F</string>
	<key>form_green_button_highlight_bg_color</key>
	<string>#179A1A</string>
	<key>form_white_button_text_color</key>
	<string>#000000</string>
	<key>form_white_button_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_redtext_button_text_color</key>
	<string>#FF0000</string>
	<key>form_redtext_button_bg_color</key>
	<string>#FFFFFF</string>
	<key>form_blue_button_text_color</key>
	<string>#FFFFFF</string>
	<key>form_blue_button_bg_color</key>
	<string>#1E90FF</string>
	<key>form_blue_button_highlight_bg_color</key>
	<string>#1978D5</string>
	<key>form_key_text_color</key>
	<string>#444444</string>
	<key>form_value_text_color</key>
	<string>#000000</string>
	<key>nav_title_text_color</key>
	<string>#FFFFFF</string>
	<key>nav_back_img</key>
	<string>nav_back.png</string>
	<key>default_group_head_public_img</key>
	<string>default_group_head_public.png</string>
	<key>default_group_head_meeting_img</key>
	<string>default_group_head_meeting.png</string>
	<key>default_group_head_avchatroom_img</key>
	<string>default_group_head_avchatroom.png</string>
	<key>default_group_head_community_img</key>
	<string>default_group_head_community.png</string>
	<key>default_group_head_img</key>
	<string>default_group_head.png</string>
	<key>default_c2c_head_img</key>
	<string>default_c2c_head.png</string>
	<key>search_textfield_bg_color</key>
	<string>#FEFEFE</string>
	<key>service_more_video_call_img</key>
	<string>service_more_video_call.png</string>
	<key>service_more_voice_call_img</key>
	<string>service_more_voice_call.png</string>
	<key>service_more_poll_img</key>
	<string>service_more_poll_img.png</string>
	<key>service_more_group_note_img</key>
	<string>service_more_group_note_img.png</string>
	<key>service_more_customer_service_evaluation</key>
	<string>service_more_customer_service_evaluation_img.png</string>
	<key>icon_online_status_img</key>
	<string>icon_online_status.png</string>
	<key>icon_offline_status_img</key>
	<string>icon_offline_status.png</string>
	<key>nav_more_img</key>
	<string>nav_more.png</string>
	<key>chat_message_read_status_text_color</key>
	<string>#ECA08E</string>
	<key>chat_message_read_status_text_gray_color</key>
	<string>#BBBBBB</string>
	<key>chat_message_read_status_tab_color</key>
	<string>#FF584C</string>
	<key>chat_message_read_status_tab_unselect_color</key>
	<string>#444444</string>
	<key>chat_message_read_name_date_text_color</key>
	<string>#999999</string>
	<key>chat_messageReplyIcon_img</key>
	<string>messageReplyIcon</string>
	<key>chat_message_translation_loading_img</key>
	<string>message_translation_loading.png</string>
	<key>chat_message_translation_tips_img</key>
	<string>message_translation_tips.png</string>
	<key>chat_message_translation_bg_color</key>
	<string>#F2F7FF</string>
	<key>chat_message_translation_bg_color_minimalist</key>
	<string>#F3F5F9</string>
	<key>chat_message_translation_text_color</key>
	<string>#000000</string>
	<key>chat_message_translation_text_color_minimalist</key>
	<string>#000000</string>
	<key>second_confirm_bg_color</key>
	<string>#FFFFFF</string>
	<key>second_confirm_title_color</key>
	<string>#000000</string>
	<key>second_confirm_line_color</key>
	<string>#DDDDDD</string>
	<key>second_confirm_cancel_btn_title_color</key>
	<string>#000000</string>
	<key>second_confirm_confirm_btn_title_color</key>
	<string>#FF7756</string>
	<key>chat_react_desc_color</key>
	<string>#FFFFFF</string>
</dict>
</plist>
