# OS X Files
.DS_Store
**/.DS_Store


# Gradle files
*/.gradle/
*.gradle/

# IDEA Files
/tuicustomerserviceplugin/.idea/
/tuicustomerserviceplugin/build/
local.properties
/.codecc/
/build.yml
*.iml
*.idea/
/captures
