<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>serious</string>
	<key>name</key>
	<string>严肃</string>
	<key>name_en</key>
	<string>Business</string>
	<key>callkit_recents_bg_color</key>
	<string>#FFFFFF</string>
	<key>callkit_nav_title_text_color</key>
	<string>#FFFFFF</string>
	<key>callkit_recents_tableHeader_title_text_color</key>
	<string>#000000</string>
	<key>callkit_recents_cell_bg_color</key>
	<string>#FFFFFF</string>
	<key>callkit_recents_cell_title_color</key>
	<string>#000000</string>
	<key>callkit_recents_cell_subtitle_color</key>
	<string>#888888</string>
	<key>callkit_recents_cell_time_color</key>
	<string>#BBBBBB</string>
</dict>
</plist>
