<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.cloud.tuikit.videoseat">

    <application>
        <provider
            android:name="com.tencent.cloud.tuikit.videoseat.core.TUIVideoSeatProvider"
            android:authorities="${applicationId}.TUIVideoSeatProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>